<% content_for :css do %>
  <%= stylesheet_link_tag    "clubs", :media => "all" %>
<% end %>
<% content_for :js do %>
  <script type="text/javascript">
    $(function(){
      $('#nav_clubs').addClass('active');
    });
  </script>
<% end %>
<% content_for :above_container do %>
  <%= render 'club_header' %>
<% end %>

<div class="row">
	<div class = "offset1 span10" id='announcements'>
		<h2>About <%= @club.name %></h4>
		<div class = 'offset1'>
			<%= @club.content %>

		</div>
	</div>
</div><!-- end "row" -->
