@mixin pie {
	behavior: url('/harbingernews/pie/PIE.htc');
}

@media (max-width: 767px) {
	body {
	    padding-right: 0px !important;
	    padding-left: 0px !important;
	}
}

html, body {
	height: 100%;
	padding: {
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
	}
	margin: {
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
	}
}

body {
	background-image: url('/harbingernews/img/background.png') !important;
}

#content {
	min-height: 100%;
	margin: {
		bottom: -200px;
	}
	clear: both;
}

#footer_spacer {
	height: 200px;
	clear: both;
}

#footer {
	width: 100%;
	min-height: 200px;
	background: {
		color: rgb(70,104,67);
	}
	clear: both;
	border-top: 4px solid #629b63;
	color: white;
	h3 {
		padding-top: 0px;
	}
}

.important_links {
	border: {
		left: #629b63 solid 2px;
	}
	margin: {
		top: 10px;
	}
	padding: {
		left: 5px;
	}
}

#footerTitle {
	font-size: 1.25em;
	margin-bottom: 5px;
	padding: 0;
	display: block;
}

.contact {
	margin-top: 10px;
	border-left: #629b63 solid 2px;
	padding-left: 5px;
}

#twitter-follow-button {
	margin-bottom: 5px;
}

#edited_by {
	float: right;
	margin-right: 10%;
	margin-top: 40px;
	display: block;
	clear: both;
}

.facebook {
	margin-top: 5px;
	display: block;
	background: #e8e8e8;
	border-radius: 4px;
	min-width: 225px;
}

#abt_chrome {
	width: 400px;
}


#footer_holder {
	margin-top: 10px;
}

#edited_by {
	margin-top: 11px;
	padding-left: 6px;
	background: rgb(70,104,67);
}

#footerTitle {
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline !important;
		}
	}
}

#installgcf {
	display: none;
}

.navbar-inner {
	background-color: #466843 !important;
	background-image: none !important;
	border-bottom: 4px solid #629b62 !important;
	a {
		color: white !important;
		text-shadow: 0px 1px 0px #717171 !important;
	}
	.active {
		a {
			background-color: #629b62 !important;
		}
	}
}

.brand {
	a {
		text-shadow: 0 1px 0 #ffffff !important;
	}
}

.btn-navbar {
	background-color: #3e5f3b !important;
	background-image: none !important;
}
