/*
 * Harborfields High School's Frontpage CSS Stylesheet
 * Written by Alex LaFroscia
 * July, 2012
 
 * Last updated August 16, 2012

*/

/* Phones to Tablets */

@import "all";

body {
	@include backgroundNoise;
	background: {
		color: #ffffff;
	}
	width: 100%;
	overflow-x: hidden;
	-webkit-user-select: none;

}

#stuff {
	min-height: 10px;
	background: {
		color: white;
	}
}

.row-fluid {
	background: {
		color: red;
	}
}