#postits {
	.span4 {
		behavior: none !important;
		box-shadow: none !important;
		border-radius: none !important;
		border: 1px solid #111111;
		&:hover {
			behavior: none !important;
			box-shadow: none !important;
			border-radius: none !important;
		}
	}
}

#events {
	#recent {
		behavior: url('/harbingernews/PIE/pie.htc');
		background: {
			color: #ffffff !important;
		}
		box-shadow: none !important;
		border: 1px solid #111111;
	}
	#upcoming {
		behavior: url('/harbingenews/PIE/pie.htc');
		box-shadow: none !important;
		border: 1px solid #111111;
	}
}