/*
 * Harborfields High School's Frontpage CSS Stylesheet
 * Written by Alex LaFroscia
 * July, 2012
 
 * Last updated August 16, 2012

*/
html, body {
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px; }

body {
  background-image: url(../background.png) !important; }

#content {
  min-height: 100%;
  margin-bottom: -200px;
  clear: both; }

#footer_spacer {
  height: 200px;
  clear: both; }

#footer {
  width: 100%;
  min-height: 200px;
  background: #466843;
  clear: both;
  border-top: 4px solid #629b63;
  color: white; }
  #footer h3 {
    padding-top: 0px; }

.important_links {
  border-left: #629b63 solid 2px;
  margin-top: 10px;
  padding-left: 5px; }

#title {
  font-size: 1.25em;
  margin-bottom: 5px;
  padding: 0;
  display: block; }

.contact {
  margin-top: 10px;
  border-left: #629b63 solid 2px;
  padding-left: 5px; }

#twitter-follow-button {
  margin-bottom: 5px; }

#edited_by {
  float: right;
  margin-right: 10%;
  margin-top: 40px;
  display: block;
  clear: both; }

.facebook {
  margin-top: 5px;
  display: block;
  background: #e8e8e8;
  border-radius: 4px;
  min-width: 225px; }

#abt_chrome {
  width: 400px; }

#footer_holder {
  margin-top: 10px; }

#edited_by {
  margin-top: 11px;
  padding-left: 6px;
  background: #466843; }

#title a {
  text-decoration: none; }
  #title a:hover {
    text-decoration: underline !important; }

#installgcf {
  display: none; }

/* Phones to Tablets */
@media (max-width: 768px) {
  a {
    text-decoration: none; }

  #container_box {
    width: 240px !important; }

  #forward_button {
    margin-left: 224px !important; }

  #news_title_container {
    right: 5px !important; }

  #announcements {
    margin-left: 5px;
    margin-right: 5px; }

  #important {
    margin-left: 5px;
    margin-right: 5px; }

  #news_title {
    padding-left: 20px; } }
body {
  background-image: url(background.png);
  width: 100%;
  overflow-x: hidden;
  -webkit-user-select: none; }

#content {
  background-color: #f3f3f3; }

a.fancy {
  color: black; }

.fancybox-inner {
  -webkit-overflow-scrolling: touch !important;
  overflow: scroll !important; }

/*-------------*/
#important_stuff {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px; }

#announcements_wrap {
  position: relative;
  display: block;
  float: left; }

#announcements {
  position: relative;
  background: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18); }
  #announcements h2 {
    margin-top: 0;
    margin-bottom: 2px;
    padding-top: 10;
    text-align: center;
    color: black;
    font-size: x-large; }

.chunk {
  margin-left: 0px; }
  .chunk h4 {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
    font-style: italic; }
    .chunk h4 a {
      color: #272727; }

#important {
  background: #EBE692;
  position: relative;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
  margin-bottom: 10px; }
  #important h2 {
    font-size: x-large;
    margin-top: 0;
    padding-top: px;
    text-align: center; }

#news_title_row {
  height: 35px; }

#upcoming {
  background: #bababa;
  position: relative;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
  margin-bottom: 10px; }
  #upcoming h2 {
    font-size: x-large;
    margin-top: 0;
    padding-top: px;
    text-align: center; }
