<div class="span6 offset3" id="teampage">
	<h1>404 Error</h1>
	<p>We're sorry, but it looks like the page you are looking for does not exist</p>
	<p>Possible causes for this error:</p>
	<li>You may have mistyped the URL</li>
	<li>The page may have been moved to another location</li>
	<li>The page may have been removed permanently</li> 
</div>