<div class="span6 offset3" id="teampage">
	<h1>About This Website</h1>
	<h5>Version 1.5.1</h5>
	<p>Developed by Alex LaFroscia, Brian Kelley, Jake Dombrower, Connor Stewart, and Alexander Orellana in association with the Harborfields Mobile Computing Club</p>
	<a href="https://github.com/HF-Mobile-Computing/harbingernews">Click here to visit our Github repository<a>
</div>