<div class="span6 offset3" id="teampage">
	<h1>About This Website</h1>
	<h5>Version 1.0.1</h5>
	<p>Developed by Alex LaFroscia, Brian Kelley, and Jake Dombrower in association with the Harborfields Mobile Computing Club</p>
</div>