<div class="container">
	<div class="well span7 offset2">
		<h2 style="text-align: center;">Graduation Live Stream</h2>
		<iframe src="http://www.highschoolcube.com/embed/346367" width="640" height="460" frameborder="0" scrolling="no" allowtransparency="true" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe><div><a style="font-size:11px" href="http://www.highschoolcube.com">Watch, Share and Broadcast High School Events LIVE - in HD - for free!</a></div>
	</div>
</div>