<div class="container">
	<div class="well span7 offset2">
		<h2 style="text-align: center;">Graduation Live Stream</h2>
		
<iframe src="http://thecube.com/embed/517429" width="640" height="460" frameborder="0" scrolling="no" allowtransparency="true" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe><div><a style="font-size:11px" href="http://thecube.com">Share Events on The Cube</a></div>	</div>
</div>