<h1>About the Harbinger Team </h1>
<h3>Members:</h3>

<b>News Team</b>
<p>This is empty....<em>For now</em>...</p>
<ul>
	<!-- insert News Team members here inside of <li> tags-->
</ul>	

<b>Web Development</b>

<ul>
	<li>Head Developers</li>
	<ul>
		<li>Alex LaFroscia</li>
		<li>Brian Kelley</li>
	</ul>
	<li>Interns</li>
	<ul>
		<li>Jake Dombrower</li>
		<li>Steve Schmidt</li>
	</ul>
