<div class="span6 offset3" id="teampage">
	<h1>About the Harbinger Team </h1>
	<h3>Advisor:</h3>
	<p>Mr. Ambrosio</p>
	<h3>Members:</h3>

	<h5>News Team</h5>
	<p>This is empty....<em>For now</em>...</p>
	
		<!-- insert News Team members here inside of <p> tags-->
		

	<h5>Web Development</h5>
	<p>Alex LaFroscia</p>
	<p>Brian Kelley</p>
	<p>Jake Dombrower</p>
	<p>Steve Schmidt</p>
</div>