<div class="span10" id="teampage">
	<h1>The Harbinger Team </h1>
	
	<p><b>Advisor:</b> Mr. Ambrosio</p>
	<h3>Members:</h3>

	<div class="span3">

		<h4>The Harbinger Online</h4>
		<b>Website Creators:</b>

		<p>Alex Lafrosia and Brian Kelly</p>

		<b>Web Master:</b> 
		<p>Jake Dombrower</p>

		
		<b>Content Editors:</b>

		<p>Brianna Ackerman</p>

		<p>Ryan Ackerman</p>

		<p>John Canino</p>

		<p>Mike Harvey</p>

		<b>Director of Social Media:</b>

		<p>Ryan Ackerman</p>
	</div>
	<div class="span3">
		<h4>The Harbinger Newspaper</h4>
		<b>Print Layout Editor:</b>

		<p>Brianna Ackerman</p>

		<b>Copy Editors:</b>

		<p>Brianna Ackerman</p>
		<p>Cecilia Masselli</p>

		<b>Reporters:</b>


		<p>Brianna Ackerman</p>

		<p>Haseeb Altaf</p>

		<p>Medora Benson</p>

		<p>Jack Blitch</p>

		<p>Alex Campbell</p>

		<p>John Canino</p>

		<p>Olivia Cook</p>

		<p>Christiana DeBorja</p>

		<p>Jason Feinberg</p>

		<p>Dan Garvey</p>

		<p>Brian Gerbosi</p>

		<p>Matt Kearney</p>

		<p>Alyssa Mastrantonio</p>

		<p>Katelyn McHale</p>

		<p>Grace Mines</p>

		<p>Bryan Ramme</p>

		<p>Megan Scally</p>

		<p>Jane Schecterson</p>

		<p>Jared Van Houten</p>

		<p>Julian White</p>
	</div>
	<div class="span3">
		<h4>The Harbinger Video Team</h4>

		<b>Live Stream Producers:</b>

		<p> Alex Coventry</p>

		<p>Doug Terc</p>

		<b>Studio Producers:</b>

		<p>Mia Rodriguez</p>

		<p>Jared Van Houten</p>

		<b>Play by Play Announcers:</b>
		
		<p>Emmanuel Berbari</p>

		<p>Johnny Gadamowitz </p>

		<b>Morning Show Hosts:</b>
		<p>Flo Chi</p>

		<p>Rachael Glackin</p>
		<b>Studio and Live Production Team:</b>
		<p>Ryan Ackerman</p>

		<p>Charlie Barba</p>

		<p>Greg Black</p>

		<p>Antonio Ferme</p>

		<p>Brian Gerbosi</p>

		<p>Dylan Irgang</p>

		<p>Matt Kearney</p>

		<p>Bryan Ramme</p>

		<p>Jared Van Houten</p>
	</div>

		


</div>