<script type="text/javascript">

$(function() {
  // Add "active" to nav bar
  $('#nav_anounce').addClass('active');

});



</script>

<div class="span10 well">
<iframe src="http://thecube.com/embed/462887" width="960" height="640" frameborder="0" scrolling="no" allowtransparency="true" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe>
</div>