<head>
	<script>
		function goBack()
	  	{
 	 	window.history.back()
 	 	}
	</script>
</head>

<div class="span6 offset3" id="teampage">
	<h1>500 Error</h1>
	<p>We're sorry, but an error has occured.</p>
	<input class="btn btn-large btn-primary" type="button" value="Go Back" onclick="goBack()">
	<input class="btn btn-large btn-primary" type="submit" value="Go Home" onclick="window.location='/';" />
</div>