@import "all";

@mixin header_style {
	text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}

h1 {
	@include header_style;
	border: {
		bottom: 1px solid #efefef;
	}
	padding: {
		bottom: 10px;
	}
}

#announcements { 
	h1 {
		width: 810px;
	}
}

#everything {
	background: {
		color: white;
	}
	margin: {
		top: 10px;
	}
}

.row-fluid {
	margin: 0 auto;
	width: 97% !important;
}