body {
	margin: 0;
	background-image:url(../Background.png);
}

li#sports {
	background-color: #629b63 !important;
}


#sportsbox {
	max-width: 720px;
	margin: 0 auto;
	
}

#sportsbox ul {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	list-style-type: none;
}

#sportsbox li {
	display: inline-block;
	width: 100px;
	background: cyan;
}

#fall {
	margin-left: -40px;
}

.box {
	text-align: center;
	width: 70%;
	margin: 0 auto;
	height: 150px;
}

.sport {
	margin-bottom: 20px;
	background: blue;
	width: 200px;
	height: 150px;
}

#winterbox {
	display: none;
}

#springbox {
	display: none;
}

#grey_background {
	background-color: #5b5b5b;
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}