body {
	margin: 0;
	background-image:url(../Background.png);
}

li#sports {
	background-color: #629b63 !important;
}

#horz_holder {
	width: 100%;
	background: #5b5b5b;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#sportsbox {
	max-width: 720px;
	margin: 0 auto;
	
}

#sportsbox ul {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	list-style-type: none;
}

#sportsbox li {
	display: inline-block;
	width: 100px;
	background: cyan;
}

#fall {
	margin-left: -40px;
}

.box {
	text-align: center;
	width: 70%;
	margin: 0 auto;
	height: 150px;
}

.sport {
	color: black;
	margin-bottom: 20px;
	background: #d9d9d9;
	width: 200px;
	height: 150px;
}

.sport h3 {
	position: relative;
	top: 120px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.sport img {
	position: absolute;
	left: 25px;
	top: 12px;
}

#sportsbox p {
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
	color: white;
}

#winterbox {
	display: none;
}

#springbox {
	display: none;
}
