@import 'variables';
@import 'mixins';

/* Buttons */
.btn-custom {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #466843;
	*background-color: #466843;
	background-image: -moz-linear-gradient(top, #629B62, #466843);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#629B62), to(#466843));
	background-image: -webkit-linear-gradient(top, #629B62, #466843);
	background-image: -o-linear-gradient(top, #629B62, #466843);
	background-image: linear-gradient(to bottom, #629B62, #466843);
	background-repeat: repeat-x;
	border-color: #466843;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#629B62', endColorstr='#466843', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-custom:hover,
.btn-custom:active,
.btn-custom.active,
.btn-custom.disabled,
.btn-custom[disabled] {
	color: #FFFFFF;
	background-color: #466843;
	*background-color: #003bb3;
}

/* Navbar */
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #629b63;
  background-image: -moz-linear-gradient(top, #629b63, #466843);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#629b63), to(#466843));
  background-image: -webkit-linear-gradient(top, #629b63, #466843);
  background-image: -o-linear-gradient(top, #629b63, #466843);
  background-image: linear-gradient(to bottom, #629b63, #466843);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}


.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #629b63;
  background-image: -moz-linear-gradient(top, #629b63, #466843);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#629b63), to(#466843));
  background-image: -webkit-linear-gradient(top, #629b63, #466843);
  background-image: -o-linear-gradient(top, #629b63, #466843);
  background-image: linear-gradient(to bottom, #629b63, #466843);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.navbar-static-top {
	z-index: 100;
	position: relative;
	box-shadow: 0px 0px 4px 0px #3e3e3e;
	@include pie;
}

.navbar-inner {
	background-color: $darkGreen;
	background-image: none !important;
	border-bottom: 4px solid #629b62 !important;
	filter: none !important;
	a {
		color: white !important;
		text-shadow: 0px 1px 0px #717171;
	}
	.active {
		a {
			background-color: $lightGreen !important;
		}
	}
}

.nav>li>a {
  text-shadow: none !important;
}