body {
	width: 100%;
	margin: 0;
	background-image:url(/~alex/Harbinger2/Background.png);
}

li#clubs {
	background: #629b63;
}

.text-input {
	float: right;
	width: 200px;
}

.defaultText {
	width: 300px;
}

.defaultTextActive {
	color: #a1a1a1;
	font-style: italic;
}

.box_holder_holder {
	position: relative;
	margin-top: 10px;
	margin-bottom: 30px;
}

.box_holder {
	position: relative;
	margin: 0 auto;
	background: #fff;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.150);
	width: 820px;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
}

.box_holder:before {
	z-index: -1;
	position: absolute;
	top: -2px;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.150);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	-ms-transform: rotate(1deg);
	transform: rotate(1deg)
}

.box_holder:after {
	z-index: -2;
	position: absolute;
	top: -2px;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.150);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
	-webkit-transform: rotate(359deg);
	-moz-transform: rotate(359deg);
	-o-transform: rotate(359deg);
	-ms-transform: rotate(359deg);
	transform: rotate(359deg)
}

.box_holder p {
	padding-left: 15px;
	padding-right: 15px;
}

.box {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	width: 250px;
	height: 200px;
	background: #8c8c8c;
	border-radius: 12px;
	box-shadow: 1px 2px 9px 1px black;
	text-align: center;		
}

.label {
	display: block;
	margin-top: 17px;
	clear: both;
}


.keywords {
	display: none;
}

#live-search{
	border-bottom-style: none;
}

.text-input {
	height: 20px;
	width: 400px;
	border-radius: 15px;
	font-size: .9em;
}

.box img {
	position: relative;
	top: 15px;
	border-radius: 7px;
}
