  <div id="footer">
		<div class="container" id="footer_holder">
			<div class="row">
				<div class="important_links span4 offset2">
					<span id="footerTitle">Important Links</span>
					<ul>
						<a href="http://www.vqr.mx/DmkD"><li>Bus Map</li></a>
						<li><%= link_to "The Harbinger Team", harbingerteam_path %></li>
						<li><%= link_to "About Site", about_path %></li>
					</ul>
				</div> <!-- end "important" -->
				<div class="contact span4">
					<!-- Start of Youtube Subscription Box Embed Code --><iframe frameborder="0" id="fr" scrolling="no" src="http://www.youtube.com/subscribe_widget?p=HFTornadoNews" style="border: 0px; height: 104px; background:#FFF; overflow-x: hidden; overflow-y: hidden; width: 400px;"></iframe> <!-- End of Youtube Subscription Box Embed Code -->
					
				</div><!-- end "contact" -->
			</div>
		</div><!-- end "container"-->
	</div> <!-- end "footer" -->