  <div id="footer">
		<div class="container" id="footer_holder">
			<div class="row">
				<div class="important_links span3 offset1">
					<span id="footerTitle">Important Links</span>
					<ul>
						<a href="http://www.vqr.mx/DmkD"><li>Bus Map</li></a>
						<a href="https://sites.google.com/site/harborfieldshs/"><li>Today's Announcements</li></a>
						<li><%= link_to "The Harbinger Team", harbingerteam_path %></li>
						<a href="http://harborfieldscsd.net/hhslibrary/LMC%20Webpage/index.htm"><li>HHS Library</li></a>
						<!--<li><%= link_to "About Site", about_path %></li>-->
						<a href="/articles#print"><li>Print Issues</li></a>
					</ul>
				</div> <!-- end "important" -->
				<div class="span5" style="padding-top: 20px;">
					<iframe src="http://www.highschoolcube.com/viewerguide/2130961" width="728" height="90" frameborder="0" scrolling="no" allowtransparency="true" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe><div> </div>
					
				</div><!-- end "contact" -->
			</div>
		</div><!-- end "container"-->
	</div> <!-- end "footer" -->