<footer class="page-footer hf-green">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About The Harbinger</h5>
          <p class="grey-text text-lighten-4">We are team of dedicated journalists from Harborfields High School. Our goal is to provide interesting and relevant content for the students, by the students.</p>


        </div>
        
        <div class="col l3 offset-l3 s12">
          <h5 class="white-text">Important Links</h5>
          <ul>
            <li><a class="white-text" href="#!">The Cube</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Harborfields Website</a></li>
            <li><a class="white-text" href="#!">Bus Finder</a></li>
            <li><a class="white-text modal-trigger" href="#modal1">Admin Login</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
       Copyright &copy; 2015 The Tornado News Team
      </div>
    </div>
  </footer>
