  <div id="footer">
		<div class="container" id="footer_holder">
			<div class="row">
				<div class="important_links span4 offset2">
					<span id="footerTitle">Important Links</span>
					<ul>
						<a href="http://www.vqr.mx/DmkD"><li>Bus Map</li></a>
						<li><%= link_to "The Harbinger Team", harbingerteam_path %></li>
						<li><%= link_to "About Site", about_path %></li>
					</ul>
				</div> <!-- end "important" -->
				<div class="contact span4">
					<span id="footerTitle">HF Navigator Mobile Application</span>
					Harborfields Navigator is an app designed by students, for students. This application provides vital information and communication services for students as well as parents. Brought to you by The Harborfields Mobile Computing Club. Availible on the <a href="https://itunes.apple.com/us/app/hf-navigator/id652649379?mt=8&ign-mpt=uo%3D4">iOS App Store</a> or <a href="https://play.google.com/store/apps/details?id=com.hhs.hfnavigator">Google Play</a>.
					
				</div><!-- end "contact" -->
			</div>
		</div><!-- end "container"-->
	</div> <!-- end "footer" -->